<div id="cards" >

    <div layout="row" layout-align="space-around" ng-if="isOnLoad">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>


    <md-tabs md-selected="selectedIndex" md-border-bottom  md-dynamic-height md-stretch-tabs>
        <md-tab ng-repeat="card in cards"
                ng-disabled="card.disabled"
                label="{{card.title}}">

            <img ng-src="{{ card.media.urls.wide }}" ng-if="card.media.urls.wide" class="card-img" alt="Washed Out">

            <h2 class="md-title">{{ card.title }}</h2>
            <btf-markdown btf-markdown="card.content">
            </btf-markdown>

        </md-tab>
    </md-tabs>

</div>

