
.training-theme-selector-grid-tile {
  background-size: cover;
}

md-grid-tile {
  transition: all 500ms ease-out 100ms;
  overflow: hidden;
  img{
    width: 100%;
    height: auto;
  }
}

.training-theme-selector {

  .item-tag-clickable {


    h3 {
      margin-bottom: 0px;
      font-size: 1.6rem;
    }

    p {
      margin-top: 0;
      font-size: 1.1rem;
    }
  }

  .md-subheader-content {
    strong {
      color: black;
    }
  }
}

.training-question {
  .correct-answer {
    background-color: mediumseagreen;

  }

  .whitespace {
    height: 25px;
    width: 100%;
  }
}