
.training-theme-selector-grid-tile {
  background-size: cover;
}

md-grid-tile {
  transition: all 500ms ease-out 100ms;
  overflow: hidden;
  img{
    width: 100%;
    height: auto;
  }
}

.training-theme-selector {

  .item-tag-clickable {


    h3 {
      margin-bottom: 0px;
      font-size: 1.6rem;
    }

    p {
      margin-top: 0;
      font-size: 1.1rem;
    }
  }

  .md-subheader-content {
    strong {
      color: black;
    }
  }
}

.training-question,
.training-results  {
  .correct-answer {
    background-color: mediumseagreen;

  }

}

.training-results {
  .result-question {
    margin-bottom: 20px;

    .md-green, .md-green:hover {
      background-color: mediumseagreen;
    }
  }


  .md-toolbar-tools {

    height: 80px;
    max-height: 80px;
    h3 {
      width: 95%;
    }
  }


}
