
<div class="training-theme-selector">


    <div layout="row" layout-align="space-around" ng-if="isOnLoad">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>


    <md-list ng-cloak="" ng-show="!isOnLoad">
        <md-subheader class="md-no-sticky">Sélectionnez les thèmes d'entrainement</md-subheader>

        <md-list-item ng-repeat="tag in tags" class="item-tag-clickable" ng-class="{'active': tag.checked}">

            <img ng-src="{{ tag.media.urls.crop }}"  class="md-avatar" alt="{{tag.name}}">
            <div class="md-list-item-text compact">
                <h3>{{tag.name}}</h3>
                <p>{{tag.questions_count}} questions disponibles</p>
            </div>

            <md-checkbox class="md-secondary" ng-model="tag.checked"></md-checkbox>
        </md-list-item>

        <md-divider></md-divider>

        <md-subheader class="md-no-sticky">Choisissez le nombre de questions</md-subheader>

        <md-list-item>
            <md-radio-group ng-model="questionsCount" layout="row" layout-align="space-around center">
                <md-radio-button ng-repeat="number in questionsCountSelection"
                                 ng-value="number"
                                 aria-label="number"
                                >
                    <label>{{ number }}</label>
                </md-radio-button>
            </md-radio-group>
        </md-list-item>


        <md-divider></md-divider>


        <md-subheader class="md-no-sticky">Les <strong>{{ questionsCount }}</strong> questions porterons sur les thèmes suivants</md-subheader>
        <md-chips>
            <md-chip ng-repeat="tag in tags" ng-if="tag.checked">{{ tag.name }}</md-chip>
        </md-chips>
    </md-list>

    <div layout="row" layout-align="center center" ng-if="!isOnLoad">
        <button class="md-warn md-raised md-button md-default-theme btn-toggle-all" ng-click="startTraining()"><span class="ng-scope">Commencer l'entraînement</span><div class="md-ripple-container"></div></button>
    </div>




</div>